<div class="w-full h-full flex flex-col p-8">
    <div class="flex gap-4 justify-between">
        <div class="flex gap-4">
            <div class="bg-green-300 w-[250px] h-[150px] flex justify-center items-center gap-6 rounded shadow-md border border-gray-300 cursor-pointer transition-all hover:bg-green-200">
                <i class="bi bi-basket-fill text-4xl"></i>
                <div>
                    <h1 class="text-center text-xl font-bold">80</h1>
                    <h1 class="text-xl">Products Sold</h1>
                </div>
            </div>
            <div class="bg-green-300 w-[250px] h-[150px] flex justify-center items-center gap-6 rounded shadow-md border border-gray-300 cursor-pointer transition-all hover:bg-green-200">
                <i class="bi bi-currency-exchange text-4xl"></i>
                <div>
                    <h1 class="text-center text-xl font-bold">100 Pesos</h1>
                    <h1 class="text-xl">Total Revenue</h1>
                </div>
            </div>
            
        </div>
        
        
    </div>
    <!-- Graphs -->
    <div class="w-[90%] flex flex-col justify-center items-center  py-8">
        <div class="flex h-[500px]  w-full gap-5  py-4 pr-4"> 
            <!-- Sales by Months -->
            <div class="w-[50%] flex flex-col justify-center items-center border border-gray-300 p-4 shadow-lg ">
                <h1 class="font-bold">Monthly Sales Chart</h1>
                <canvas width="" baseChart [data]="salesByMonth" type="bar">

                </canvas>        
            </div>
            <!-- Sales by Week -->
            <div class="w-[50%] flex flex-col justify-center items-center border border-gray-300 p-4 shadow-lg ">
                <h1 class="font-bold">Daily Sales Chart</h1>
                <canvas baseChart [data]="salesPerWeekData" type="bar">

                </canvas>  
            </div>
        </div>
       
       <div class="flex h-[500px]  w-full gap-5 mt-5 py-4 pr-4">
        <!-- Sales by Category -->
        <div class="w-[50%] flex flex-col justify-center items-center border border-gray-300 px-4 py-8 shadow-lg ">
            <h1 class="font-bold">Total Percentage Sales by Category</h1>
            <canvas baseChart [data]="salesByCategory" type="pie"></canvas>
        </div>
        <!-- Profit -->
        <div class="w-[50%] flex-col flex justify-center items-center border border-gray-300 p-4 shadow-lg ">
            <h1 class="font-bold">Total Sales By Category</h1>
            <canvas baseChart [data]="salesByCategoryLine" type="line"></canvas>
        </div>
       </div>
    </div>
    <app-latest-costumer-card (onModalClick)="onViewAllClick()"></app-latest-costumer-card>


    <!-- Modal -->
      <div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-auto my-6 mx-auto max-w-6xl">
          <!--content-->
          <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
              <h3 class="text-3xl font-semibold">
                Latest Costumer
              </h3>
              <button class="p-1 ml-auto bg-transparent border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                <i class="bi bi-x-lg text-red-600"></i>
              </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
                <app-view-all-costumer></app-view-all-costumer>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
              <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`
</div>