<div class=" w-full h-[7.1rem] flex justify-between items-center pr-16 shadow-2xl ">
    <button (click)="onToggle()"><i class="bi bi-list cursor-pointer text-3xl ml-5"></i></button>
    <div class="flex items-center">
        <i class="bi bi-bell-fill text-2xl mr-4 cursor-pointer"></i>
        <div class="rounded-full  w-[3rem] h-[3rem] flex justify-center items-center mr-4 cursor-pointer">
            <img class="rounded-full" src="../../../assets/profile pic.jpg" alt="logo">
        </div>
        <p class="text-lg font-bold">Justine Edward P. Santos</p>
    </div>
</div>